<?xml version="1.0"?>
<!--
/**
 * This module is used to create custom artwork catalogs
 *
 * @category: Magento
 * @package: Perficient/MyCatalog
 * @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * @license: Magento Enterprise Edition (MEE) license
 * @author: Suhas Dhoke <Suhas.Dhoke@Perficient.com>
 * @project: Wendover
 * @keywords: Module Perficient_MyCatalog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Perficient\MyCatalog\Api\Data\MyCatalogInterface"
                type="Perficient\MyCatalog\Model\MyCatalog"/>
    <preference for="Perficient\MyCatalog\Api\MyCatalogRepositoryInterface"
                type="Perficient\MyCatalog\Model\MyCatalogRepository"/>
    <preference for="Perficient\MyCatalog\Api\Data\MyCatalogSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="Perficient\MyCatalog\Api\Data\PageInterface"
                type="Perficient\MyCatalog\Model\Page"/>
    <preference for="Perficient\MyCatalog\Api\PageRepositoryInterface"
                type="Perficient\MyCatalog\Model\PageRepository"/>
    <preference for="Perficient\MyCatalog\Api\Data\PageSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="Perficient\MyCatalog\Api\Data\TemplateInterface"
                type="Perficient\MyCatalog\Model\Template"/>
    <preference for="Perficient\MyCatalog\Api\TemplateRepositoryInterface"
                type="Perficient\MyCatalog\Model\TemplateRepository"/>
    <preference for="Perficient\MyCatalog\Api\Data\TemplateSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <!--<preference for="Magento\Framework\Mail\Template\TransportBuilder"
                type="Perficient\MyCatalog\Model\Mail\TransportBuilder"/>-->
    <type name="Magento\Wishlist\Controller\Index\Index">
        <plugin name="pluginLoadCustomerDefaultWishList"
                type="Perficient\MyCatalog\Plugin\LoadCustomerDefaultWishList"
                sortOrder="998"
                disabled="false"/>
    </type>
    <type name="Magento\Wishlist\Helper\Data">
        <plugin name="pluginCustomerDefaultWishListName"
                type="Perficient\MyCatalog\Plugin\CustomerDefaultWishListName"
                sortOrder="998"
                disabled="false"/>
    </type>

    <preference for="Perficient\MyCatalog\Api\Data\MyCatalogDeleteInterface"
                type="Perficient\MyCatalog\Model\MyCatalogDelete"/>
    <preference for="Perficient\MyCatalog\Api\MyCatalogDeleteRepositoryInterface"
                type="Perficient\MyCatalog\Model\MyCatalogDeleteRepository"/>
    <preference for="Perficient\MyCatalog\Api\Data\MyCatalogDeleteSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
</config>
