<?xml version="1.0"?>
<!--
/**
 * @author Perficient Team
 * @copyright Copyright (c) 2021 Perficient
 * @package Perficient_Gdpr
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Gdpr\Block\AccountLinkPlugin" type="Perficient\Gdpr\Plugin\Block\AccountLinkPlugin"/>
    <preference for="Amasty\Gdpr\Block\Settings" type="Perficient\Gdpr\Block\Settings"/>
    <preference for="Amasty\Gdpr\Model\Config" type="Perficient\Gdpr\Model\Config"/>
</config>
