<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sitemap>
            <page>
                <priority>0.25</priority>
                <changefreq>never</changefreq>
            </page>
            <category>
                <priority>0.5</priority>
                <changefreq>never</changefreq>
            </category>
            <product>
                <priority>1</priority>
                <changefreq>never</changefreq>
                <image_include>base</image_include>
            </product>
            <store>
                <priority>1</priority>
                <changefreq>never</changefreq>
            </store>
            <generate>
                <enabled>1</enabled>
                <time>02,00,00</time>
                <frequency>W</frequency>
                <error_email />
                <error_email_template>sitemap_generate_error_email_template</error_email_template>
                <error_email_identity>general</error_email_identity>
            </generate>
            <search_engines>
                <submission_robots>1</submission_robots>
            </search_engines>
            <file>
                <valid_paths>
                    <available>
                        <any_path>/*/sitemap.xml</any_path>
                    </available>
                </valid_paths>
            </file>
        </sitemap>
        <crontab>
            <default>
                <jobs>
                    <sitemap_generate>
                        <schedule>
                            <cron_expr>0 2 * * *</cron_expr>
                        </schedule>
                    </sitemap_generate>
                </jobs>
            </default>
        </crontab>
    </default>
</config>
