<?xml version="1.0"?>
<!--
/**
* Added Sort order for country in Amasty customform
* @category: Magento
* @package: Perficient/Customform
* @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
* @license: Magento Enterprise Edition (MEE) license
* @author: Vijayashanthi<v.murugesan@Perficient.com>
* @project: Wendover
* @keywords: Module Perficient_Customform
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Perficient_Customform" setup_version="1.0.0">
        <sequence>
            <module name="Amasty_Customform"/>
        </sequence>
    </module>
</config>