<?xml version="1.0"?>
<!--
/**
 * Magento Productimize module events.
 *
 * @category: Magento
 * @package: Perficient/Productimize
 * @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * @license: Magento Enterprise Edition (MEE) license
 * @author: Manish Bhojwani <Manish.Bhojwani@Perficient.com>
 * @project: Wendover
 * @keywords: Module Perficient_Productimize
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="cart_update_productconfiguredprice" instance="Perficient\Productimize\Observer\UpdateProductConfiguredPrice" />
    </event>
    <event name="checkout_cart_product_update_after">
        <observer name="cart_update_productconfiguredprice" instance="Perficient\Productimize\Observer\UpdateProductConfiguredPrice" />
    </event>
    <event name="checkout_cart_add_collection_product">
        <observer name="cart_update_productconfiguredprice_addtocollection" instance="Perficient\Productimize\Observer\UpdateCollectionProductConfiguredPrice" />
    </event>
</config>
