<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Wendover_ConfigurableProduct">
        <sequence>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_Swatches"/>
            <module name="Magento_Catalog"/>
            <module name="Perficient_Catalog"/>
            <module name="Perficient_ViewInRoom"/>
        </sequence>
    </module>
</config>
