<?xml version="1.0"?>
<!--
/**
 * This module is used to create custom artwork catalogs
 *
 * @category: Magento
 * @package: Wendover/MyCatalog
 * @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * @license: Magento Enterprise Edition (MEE) license
 * @author:
 * @project: Wendover
 * @keywords: Module Wendover_MyCatalog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mycatalog" frontName="mycatalog">
            <module name="Wendover_MyCatalog"/>
        </route>
    </router>
</config>
