<?xml version="1.0"?>
<!--
/**
* Added to handle product surcharge if minimum order amount not met by customer
* @category: Magento
* @package: Perficient/Order
* @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
* @license: Magento Enterprise Edition (MEE) license
* @author: Sachin Badase <Sachin.Badase@Perficient.com>
* @project: Wendover
* @keywords: Module Perficient_Order
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="custom_section" xsi:type="string">Perficient\Order\CustomerData\CustomSection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer" type="Perficient\Order\Block\Item\Renderer"/>
</config>