<?xml version="1.0"?>
<!--
/**
* This module is used by employee who can add/update his personal information which needs to display his customers
* @category: Magento
* @package: Perficient/MyDisplayInformation
* @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
* @license: Magento Enterprise Edition (MEE) license
* @author: Sachin Badase <Sachin.Badase@Perficient.com>
* @project: Wendover
* @keywords: Module Perficient_MyDisplayInformation
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Model\EmailNotification"
                type="Perficient\MyDisplayInformation\Model\EmailNotification"/>
    <type name="Magento\Customer\Block\Account\Navigation">
        <plugin name="account_tab_plugin_mydisplayinformation" type="Perficient\MyDisplayInformation\Plugin\LinkTitle"
                sortOrder="15" disabled="false"/>
    </type>
</config>
