<?xml version="1.0"?>
<!--
/**
 * Modify Customer Account Sales Order Navigation
 * @category: Magento
 * @package: Perficient/Seo
 * @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * @license: Magento Enterprise Edition (MEE) license
 * @author: Monika Nemade <Monika. @Perficient.com>
 * @project: Wendover
 * @keywords: Module Perficient_Seo
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Perficient_Seo" setup_version="1.0.0">
        <sequence>
        </sequence>
    </module>
</config>
