<?xml version="1.0"?>
<!--
/**
 * Inventory for Quick Ship
 * @category: Magento
 * @package: Perficient/QuickShip
 * @copyright: Copyright 2020 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * @license: Magento Enterprise Edition (MEE) license
 * @author: Vikramraj Sahu<Vikramraj.Sahu@Perficient.com>
 * @project: Wendover
 * @keywords: Module Perficient_QuickShip
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="controller_action_predispatch">
        <observer name="quick_ship_session" instance="Perficient\QuickShip\Observer\QuickShipObserver" />
    </event>-->
    <event name="layout_generate_blocks_after">
        <observer name="remove_block" instance="Perficient\QuickShip\Observer\RemoveBlock" />
    </event>
    <!--<event name="controller_action_postdispatch">
        <observer name="quick_ship_reset_session" instance="Perficient\QuickShip\Observer\QuickShipRestObserver" />
    </event>-->
</config>