<?xml version="1.0"?>
<!--
/**
* Extend ParadoxLabs Authnetcim to change eCheckType form WEB to PPD
* for savings and checking.
* @category: Magento
* @package: Perficient/ParadoxLabsAuthnetcim
* @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
* @license: Magento Enterprise Edition (MEE) license
* @author: Amin Akhtar
* @project: Wendover
* @keywords: Module Perficient_ParadoxLabsAuthnetcim
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Perficient_ParadoxLabsAuthnetcim" setup_version="1.0.0">
    </module>
</config>
