<?xml version="1.0"?>
<!--
/**
 * Modify Customer Account Sales Order Navigation
 * @category: Magento
 * @package: Perficient/Sales
 * @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * @license: Magento Enterprise Edition (MEE) license
 * @author: Manish Bhojwani <Manish.Bhojwani@Perficient.com>
 * @project: Wendover
 * @keywords: Module Perficient_Sales
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Controller\Order\History"
                type="Perficient\Sales\Controller\Order\History"/>
    <preference for="Magento\Sales\Block\Order\PrintOrder\Invoice"
                type="Perficient\Sales\Block\Invoice\PrintInvoice"/>
    <preference for="Magento\Sales\Controller\Order\View"
                type="Perficient\Sales\Controller\Order\View"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <plugin name="sales_order_additional_columns" type="Perficient\Sales\Plugin\SalesOrderCustomColumn" sortOrder="10" disabled="false" />
    </type>
    <!-- Sync the column "syspro_order_id" between the sales_order and sales_order_grid tables -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="syspro_order_id" xsi:type="string">sales_order.syspro_order_id</item>
            </argument>
        </arguments>
    </virtualType>
</config>
