<?xml version="1.0"?>
<!--
/**
 * Custom Module for freight Estimator
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Wendover_FreightEstimator">
        <sequence>
            <module name="Perficient_BlueshipShipping" />
            <module name="Magento_Ups" />
        </sequence>
    </module>
</config>
