<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Wendover_FindYourRep::representative"
             title="Respresentative"
             module="Wendover_FindYourRep"
             sortOrder="130"
             parent="Perficient_Base::main_menu_item"
             dependsOnModule="Wendover_FindYourRep"
             resource="Wendover_FindYourRep::representative"/>
        <add id="Wendover_FindYourRep::representative_grid"
             title="Manage Representative"
             module="Wendover_FindYourRep"
             sortOrder="140"
             parent="Wendover_FindYourRep::representative"
             action="representative/rep/index"
             resource="Wendover_FindYourRep::representative_grid"/>
    </menu>
</config>
