<?xml version="1.0"?>
<!--
/**
 * Frontend Router
 *
 * @category: Magento
 * @package: Perficient/PriceMultiplier
 * @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * @license: Magento Enterprise Edition (MEE) license
 * @author: Sandeep Mude <Sandeep.Mude@Perficient.com>
 * @keywords: Module Perficient_PriceMultiplier
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="pricemultiplier" frontName="pricemultiplier">
            <module name="Perficient_PriceMultiplier" />
        </route>
    </router>
</config>