<?xml version="1.0"?>
<!--
/**
 * Blueship Shipping module
 *
 * @copyright: Copyright © 2020 Perficient, Inc. All rights reserved.
 * @license: Perficient, Inc.
 * @author: Sandeep Mude <sandeep.mude@perficient.com>
 * @keywords: Blueship Shipping
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Wendover_FedexShipping" setup_version="2.0.0">
        <sequence>
            <module name="Magento_Shipping" />
        </sequence>
    </module>
</config>
