<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item" css="'selected-item' : isSelected() , 'not-selected-item':!isSelected()"
     xmlns="http://www.w3.org/1999/html">
     <strong>
        <text args="address().prefix"></text> <text args="address().firstname"></text> <text args="address().middlename"></text> <text args="address().lastname"></text> <text args="address().suffix"></text>
    </strong><br/>
    <text args="_.values(address().street).join(', ')"></text><br/>
    <text args="address().city "></text>, <span text="address().region"></span> <text args="address().postcode"></text><br/>
    <text args="getCountryName(address().countryId)"></text><br/>
    <span if="address().telephone" text="address().telephone"></span><br/>

    <!--<each args="data: address().customAttributes, as: 'element'">
        <div><text args="$parent.getCustomAttributeLabel(element)"/></div>
    </each>-->
    <button visible="address().isEditable()" type="button"
            class="action edit-address-link"
            click="editAddress">
        <span translate="'Edit'"></span>
    </button>
    <!-- ko if: (!isSelected()) -->
    <button type="button" click="selectAddress" class="action action-select-shipping-item">
        <span translate="'Ship Here'"></span>
    </button>
    <!-- /ko -->
</div>
