<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <perficient_bulk_upload>
            <cron_setup>
                <bulk_upload_enable>0</bulk_upload_enable>
            </cron_setup>
        </perficient_bulk_upload>
    </default>
</config>
