<?xml version="1.0"?>
<!--
/**
* Add New field in catalog product For DCKAP
* @category: Magento
* @package: Perficient/Catalog
* @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
* @license: Magento Enterprise Edition (MEE) license
* @author: Vikramraj Sahu<Vikramraj.Sahu@Perficient.com>
* @project: Wendover
* @keywords: Module Perficient_Catalog
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Perficient_Catalog" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>