<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                 <item name="missing_images_listing_data_source" xsi:type="string">ProductImagesMissingCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ProductImagesMissingCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">product_images_missing_report</argument>
            <argument name="resourceModel" xsi:type="string">Wendover\ReportImages\Model\ResourceModel\MissingImages</argument>
        </arguments>
    </virtualType>
</config>
